.number-list {
	&__item {
		display: flex;
        align-items: center;
		width: 100%;
		line-height: 1.4;
		counter-increment: question-counter;
		@include adaptiv-value('font-size', 18, 14, 1);
	}

	&__number {
		@include adaptiv-value('max-width', 55, 36, 1);
        width: 100%;
		@include adaptiv-value('height', 55, 36, 1);
		color: $white;
		font-weight: $fw-700;
		font-family: $uniSans;
		background-color: $grey-600;
		border-radius: 50%;
		@include flex-all-center;
		@include adaptiv-value('font-size', 20, 13, 1);
		@include adaptiv-value('margin-right', 22, 10, 1);
	}
}
