<article class="instruction-card">
    <div class="instruction-card__decor">
        <span class="instruction-card__number">@number</span>
        <canvas class="instruction-card__triangle" aria-hidden="true" width="120" height="334"></canvas>
        <canvas class="instruction-card__triangle instruction-card__triangle--mobile" aria-hidden="true" width="80" height="180"></canvas>
    </div>
    <div class="instruction-card__content">
        <span class="instruction-card__bg" style="background-image: url('img/instruction/@number.svg');" aria-hidden="true"> </span>
        <h3 class="instruction-card__title">@title</h3>
        <div class="instruction-card__text">@text</div>
    </div>
</article>