<section class="buy">
    <div class="buy__container container">
        <div class="buy__wrapper">
            <div class="buy__content">
                <h2 class="buy__title title">
                    Приобрести териум про
                    <span class="title__accent">прямо сейчас</span>
                </h2>
                <p class="buy__subtext">
                    Закажите ТЕРИУМПРО № 1 прямо сейчас по специальной цене и вступите в КЛУБ привилегий
                </p>
                <div class="buy__count">
                    <span class="buy__price">1 299Р</span>
                    <span class="buy__old">1 899Р</span>
                </div>
                <div class="buy__buttons">
                    <a class="buy__button button" href="#">Купить</a>
                    <a class="buy__button button button--border" href="#">О клубе</a>
                </div>
            </div>
            <div class="buy__images">
                <picture>
                   <source srcset="img/buy.avif" type="image/avif">
                   <source srcset="img/buy.webp" type="image/webp">
                   <img class="buy__img" src="img/buy.png" alt="Териум" width="550" height="645" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>