<section class="buy section">
    <div class="buy__inner">
        <div class="buy__container container">
            <div class="buy__wrapper">
                <div class="buy__content">
                    <h2 class="title">
                        Приобрести териум про
                        <span class="title__accent">прямо сейчас</span>
                    </h2>
                    <p class="buy__subtext">
                        Закажите ТЕРИУМПРО № 1 прямо сейчас по специальной цене и вступите в КЛУБ привилегий
                    </p>
                    <div class="buy__count">
                        <span class="buy__price">1 299Р</span>
                        <span class="buy__old">1 899Р</span>
                    </div>
                    <div class="buy__buttons">
                        <a class="buy__button button" href="order.html">Купить</a>
                        <a class="buy__button button button--border" href="club.html">О клубе</a>
                    </div>
                </div>
                <div class="buy__images">
                    <picture>
                        <source srcset="img/product.avif" type="image/avif">
                        <source srcset="img/product.webp" type="image/webp">
                        <img class="buy__img" src="img/product.png" alt="Териум" width="550" height="645" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>