<section class="contacts section">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__content">
                <h2 class="title">
                    <span class="title__accent">
                        Связаться
                    </span> с нами
                </h2>
                <div class="contacts__text">
                    <p>
                        ТЕРИУМПРО №1 - добавка в масло для защиты и восстановления бензиновых, дизельных, газовых двигателей (турбированных, атмосферных, форсированных) легковых, грузовых автомобилей, мототехники
                    </p>
                </div>
                <ul class="contacts__items">
                    <li class="contacts__item">
                        <a class="contacts__link contacts__link--phone" href="tel:+70020000000">
                            +7 (002)-000-00-00
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link contacts__link--email" href="mailto:hello@terium.pro">
                            hello@terium.pro
                        </a>
                    </li>
                </ul>
                <span class="contacts__subtitle">
                    Фактический адрес:
                </span>
                <p class="contacts__subtext">
                    ООО РСТПРОМ, 162690, Вологодская обл., р. Череповецкий, п. Тоншаловское, д. Ясная Поляна, ул. Осенняя, д. 10.
                </p>
            </div>
            <div class="contacts__images" style="background-image: url('img/contacts-bg.png');">

            </div>
        </div>
    </div>
</section>