<section class="consultation">
    <div class="consultation__container container">
        <div class="consultation__wrapper">
            <div class="consultation__content">
                <h2 class="consultation__title title">
                    Получите <span class="title__accent">бесплатную</span> консультацию
                </h2>
                <span class="consultation__subtext">
                    Заполните форму, чтобы узнать все подробности
                </span>

                <div class="consultation__caption consultation__caption--mobile">
                    <div class="consultation__person">
                        <div class="consultation__picture">
                            <picture>
                                <source srcset="img/consultation.avif" type="image/avif">
                                <source srcset="img/consultation.webp" type="image/webp">
                                <img class="consultation__img" src="img/consultation.jpg" alt="Игорь" width="91" height="91" loading="lazy">
                            </picture>
                        </div>
                        <div>
                            <span class="consultation__name">игорь</span>
                            <span class="consultation__expert">Эксперт по продукции ТериумПро</span>
                        </div>
                    </div>
                </div>

                <form class="consultation__form" action="#">

                    <div class="consultation__item">
                        <label class="sr-only" for="consultation-name">Введите ваше имя</label>
                        <input class="consultation__field" name="name" type="text" placeholder="Имя" id="consultation-name" required>
                    </div>
                    <div class="consultation__item">
                        <label class="sr-only" for="consultation-phone">Введите ваш номер телефона</label>
                        <input class="consultation__field" name="phone" type="tel" placeholder="Номе телефона" id="consultation-phone" required>
                    </div>

                    <button class="consultation__button button button--normal" type="button">Отправить заявку</button>
                    <p class="consultation__agree">
                        Нажимая на кнопку вы соглашаетесь с правилами использования <a class="consultation__link" href="#">публичной оферты</a>
                    </p>
                </form>
            </div>
            <div class="consultation__caption">
                <div class="consultation__person">
                    <div class="consultation__picture">
                        <picture>
                            <source srcset="img/consultation.avif" type="image/avif">
                            <source srcset="img/consultation.webp" type="image/webp">
                            <img class="consultation__img" src="img/consultation.jpg" alt="Игорь" width="91" height="91" loading="lazy">
                        </picture>
                    </div>
                    <div>
                        <span class="consultation__name">игорь</span>
                        <span class="consultation__expert">Эксперт по продукции ТериумПро</span>
                    </div>
                </div>
                <div class="consultation__text">
                    <p>
                        Заполните форму, чтобы узнать все подробности о ТЕРИУМПРО №1.
                    </p>
                    <p>
                        Игорь вам перезвонит в ближайшее время!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>