<footer class="footer" style="background-image: url('img/footer-bg.jpg');">
    <div class="footer__container container">
        <div class="footer__wrapper">
            <div class="footer__top">
                <div class="footer__inner">
                    <div class="footer__about">
                        <a class="footer__logo logo" href="#">
                            <img class="logo__img" src="img/logo.svg" alt="логотип" width="233" height="48" loading="lazy">
                        </a>
                        <ul class="footer__contacts">
                            <li class="footer__contact">
                                <a href="tel:+70020000000">+7 (002)-000-00-00</a>
                            </li>
                            <li class="footer__contact">
                                <a href="mailto:Terium-pro@mail.ru">Terium-pro@mail.ru</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="footer__navigation">
                        <li class="footer__item">
                            <a class="footer__link" href="product.html">
                                О продукте
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link footer__link--active" href="expertise.html">
                                Экспертиза
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="club.html">
                                Клуб
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="contacts.html">
                                Контакты
                            </a>
                        </li>
                    </ul>
                    <div class="footer__buttons">
                        <a class="footer__button button" href="order.html">
                            Купить
                        </a>
                        <a class="footer__button button button--border" href="product.html">
                            Подробнее
                        </a>
                    </div>
                </div>
                <div class="footer__box">
                    <p class="footer__address">
                        ООО РСТПРОМ, 162690, Вологодская обл., р. Череповецкий, п. Тоншаловское, д. Ясная Поляна, ул. Осенняя, д. 10.
                    </p>
                    <div class="footer__user-nav user-nav">
                        <form class="user-nav__search search" action="#" role="search">
                            <label class="sr-only" for="search-footer">Поиск</label>
                            <div class="search__item">
                                <input class="search__field" name="search" type="search" placeholder="Поиск..." id="search-footer" required>
                                <button class="search__button" type="submit">
                                    <span class="sr-only">Найти</span>
                                </button>
                            </div>
                        </form>
                        <a class="user-nav__cart" href="#">
                            <span class="sr-only">Корзина</span>
                            <span class="user-nav__number">1</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <span class="footer__copy">Copyright © 2023 TERIUM-PRO</span>
                <ul class="footer__private">
                    <li class="footer__info">
                        <a href="#">Политика кофендециальности</a>
                    </li>
                    <li class="footer__info">
                        <a href="#">Правила оплаты и возврата</a>
                    </li>
                    <li class="footer__info">
                        <a href="#">Публичная оферта</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>