<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <a class="header__logo logo" href="#">
                <img class="logo__img" src="img/logo.svg" alt="логотип" width="233" height="48" loading="lazy">
            </a>
            <div class="menu" data-menu>
                <ul class="menu__items">
                    <li class="menu__item">
                        <a class="menu__link" href="#">О продукте</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Экспертиза</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Клуб</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Контакты</a>
                    </li>
                </ul>
                <div class="menu__user-nav user-nav">
                    <form class="user-nav__search search" action="#" role="search">
                        <label class="sr-only" for="search-header">Поиск</label>
                        <div class="search__item">
                            <input class="search__field" name="search" type="search" placeholder="Поиск..." id="search-header" required>
                            <button class="search__button" type="submit">
                                <span class="sr-only">Найти</span>
                            </button>
                        </div>
                    </form>
                    <a class="user-nav__cart" href="#">
                        <span class="sr-only">Корзина</span>
                        <span class="user-nav__number">1</span>
                    </a>
                </div>
            </div>
            <a class="header__buy button" href="#">Купить</a>
            <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
        </nav>
    </div>
</header>