<div class="marquee">
    <div class="marquee__wrapper">
        <ul class="marquee__items">
            <li class="marquee__item">Увеличение ресурса двигателя</li>
            <li class="marquee__item">Экономия топлива</li>
            <li class="marquee__item">Снижение вибрации и шума</li>
            <li class="marquee__item">увеличение мощности двигателя</li>
            <li class="marquee__item">Экономия Масла</li>
            <li class="marquee__item">Сбалансированная работа двигателя</li>
        </ul>
    </div>
</div>