<button class="modal-thank" type="button" data-graph-path="modal-thank" style="display: none;">Открыть</button>
<div class="graph-modal">
   <div class="graph-modal__container graph-modal__container--thank" role="dialog" aria-modal="true" data-graph-target="modal-thank">
       <div class="graph-modal__box">
           <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
           <div class="graph-modal__content">
                <div class="graph-modal__info">
                    <span class="graph-modal__title title">
                        <span class="title__accent">Спасибо</span>
                        за вашу заявку
                    </span>
                    <p class="graph-modal__text">
                        Игорь свяжется с вами в ближайшее время!
                    </p>
                </div>
                <div class="graph-modal__bg" style="background-image: url('img/modal-bg.svg');"> </div>
           </div>
       </div>
   </div>
</div>