.menu {
	display: flex;
	align-items: center;
	margin-right: 20px;

	@include mq(lg) {
		display: none;
		margin-right: 0;
	}

	&--active {
		position: absolute;
		top: 0;
		right: 0;
		bottom: -1px;
		z-index: 15;
		display: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		max-width: 340px;
		padding: 60px 40px 30px;
		overflow-y: auto;
		background-color: $dark-800;

		@include mq(lg) {
			display: flex;
		}
	}

	&__items {
		display: flex;
		@include adaptiv-value('margin-right', 100, 0, 1);

		@include mq(lg) {
			flex-direction: column;
			margin-right: 0;
		}
	}

	&__item {
		&:not(:last-child) {
			@include adaptiv-value('margin-right', 35, 10, 1);

			@include mq(lg) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}

	&__link {
		@include adaptiv-value('font-size', 18, 16, 1);
	}

	&__user-nav {
		min-width: 150px;
		margin-right: 20px;

		@include mq(lg) {
			order: -1;
			max-width: 240px;
			margin-right: 0;
			margin-bottom: 28px;
		}
	}
}
