.hero {
	&__wrapper {
		@include flex-center-sb;
	}

	&__content {
		position: relative;
		z-index: 2;
		flex: 0 0 100%;
	}

	&__decor {
		position: absolute;
		top: 0;
		left: -7%;
		z-index: -1;
		width: 100%;
		max-width: 1123px;
		color: $grey-200;
		font-weight: $fw-700;
		font-family: $uniSans;
		line-height: 1;
		@include adaptiv-value('font-size', 292, 100, 1);

		@include mq(lg) {
			display: none;
		}
	}

	&__container {
		display: flex;
		align-items: flex-end;
	}

	&__inner {
		width: 50%;
		padding: 20px 0;

		@include mq(lg) {
			width: 100%;
			padding-bottom: 36px;
		}
	}

	&__title {
		margin-bottom: 20px;
		@include adaptiv-value('font-size', 52, 22, 1);
	}

	&__text {
		width: 100%;
		max-width: 580px;
		@include adaptiv-value('font-size', 20, 14, 1);
		@include adaptiv-value('margin-bottom', 60, 15, 1);
	}

	&__links {
		display: flex;

		@include mq(sm) {
			flex-direction: column;
		}
	}

	&__link {
		@include adaptiv-value('font-size', 20, 16, 1);

		&:not(:last-child) {
			margin-right: 20px;

			@include mq(sm) {
				margin-right: 0;
				margin-bottom: 5px;
			}
		}
	}

	&__bg {
		position: relative;
		z-index: 2;
		display: flex;
		flex: 0 0 50%;
		width: 100%;
		max-width: 1080px;
		padding-bottom: 41.5%;
		transform: translateX(-100%);

		@include mq(lg) {
			display: none;
		}
	}

	&__product {
		position: absolute;
		top: 50%;
		left: -6%;
		z-index: 2;
		width: 100%;
		object-fit: contain;
		transform: translateY(-50%);
		@include adaptiv-value('max-width', 558, 230, 1);
		@include adaptiv-value('height', 654, 270, 1);
	}

	&__img {
		@include resize-img;
	}
}
