.result {
	&__top {
		@include flex-center-sb;
		margin-bottom: 40px;

        @include mq(md) {
            flex-direction: column;
            align-items: flex-start;
        }
	}

    &__headding {
        width: 50%;
        margin-right: 20px;

        @include mq(md) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

	&__subtitle {
		@include adaptiv-value('font-size', 20, 16, 1);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
		gap: 12px;

        @include mq(md) {
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        }
	}
}
