/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #1a1a1a;

$blue-600: #0049c3;
$blue-400: #2871eb;
$blue-150: #e6edf9;

$grey-600: #8b8c8e;
$grey-300: #d7d7d7;
$grey-200: #f3f3f4;

// * fonts
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$rubik: 'Rubik';
$uniSans: 'Uni-Sans';
