.graph-modal {
	--transition-time: 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	background-color: rgba($black, 0.8);
	visibility: hidden;
	cursor: pointer;
	opacity: 0;
	transition: opacity var(--transition-time), visibility var(--transition-time);

	&::before {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
	}

	&__container {
		position: relative;
		display: inline-block;
		display: none;
		width: 100%;
		max-width: 1360px;
		margin: 50px auto;
		padding: 20px 10px;
		text-align: left;
		vertical-align: middle;
		cursor: default;

		@media (max-width: 1360px) {
			width: 90%;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		max-width: 1360px;
		padding: 15px 60px;
		overflow-y: hidden;
		background-color: $white;
		@include flex-center-sb;

		@include mq(lg) {
			padding: 15px 30px;
		}

		@include mq(sm) {
			padding-top: 50px;
			padding-bottom: 0;
		}
	}

	&__close {
		position: absolute;
		@include adaptiv-value('top', 32, 16, 1);
		@include adaptiv-value('right', 32, 16, 1);
		@include adaptiv-value('width', 46, 32, 1);
		@include adaptiv-value('height', 46, 32, 1);
		background-color: $grey-200;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			@include adaptiv-value('width', 24, 16, 1);
			@include adaptiv-value('height', 24, 16, 1);
			background-image: url('../img/icons/close.svg');
			transform: translate(-50%, -50%);
			content: '';
			@include bg-conatin;
		}
	}

	&__content {
		@include flex-center-sb;
		width: 100%;

		@include mq(sm) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__info {
		width: 100%;
		max-width: 476px;
	}

	&__title {
		@include adaptiv-value('font-size', 52, 18, 1);
	}

	&__bg {
		position: relative;
		top: 66px;
		width: 100%;
		max-width: 486px;
		@include adaptiv-value('max-width', 486, 276, 1);
		@include adaptiv-value('height', 380, 252, 1);
		@include bg-conatin;

		@include mq(lg) {
			top: 80px;
		}

		@include mq(sm) {
			top: 35px;
		}
	}
}

.graph-modal.is-open {
	visibility: visible;
	opacity: 1;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}
.graph-modal__container.graph-modal-open {
	display: inline-block;
}
.fade {
	opacity: 0;
}
.fade,
.fade.animate-open {
	transition: opacity var(--transition-time);
}
.fade.animate-open {
	opacity: 1;
}
.fadeInUp {
	transform: translateY(-100px);
	opacity: 0;
}
.fadeInUp,
.fadeInUp.animate-open {
	transition: transform var(--transition-time), opacity var(--transition-time);
}
.fadeInUp.animate-open {
	transform: translateY(0);
	opacity: 1;
}
