.stepper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 117px;
	user-select: none;

	&__field {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 47px;
		height: 100%;
		font-weight: $fw-700;
	}

	&__input {
		width: 100%;
		padding: 0 2px;
		text-align: center;
		@include number;
	}

	&__btn {
		@include flex-all-center;
		position: relative;
		flex-shrink: 0;
		width: 34px;
		height: 34px;
		color: transparent;
		background-color: rgba($dark-800, 0.1);
		border: none;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.3s;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 18px;
			height: 18px;
			transform: translate(-50%, -50%);
			transition: filter 0.3s;
			content: '';
			@include bg-conatin;
		}

		&--up {
			&::before {
				background-image: url('../img/icons/plus.svg');
			}
		}

		&--down {
			&::before {
				background-image: url('../img/icons/minus.svg');
			}
		}

		@include mq(sm) {
			width: 32px;
			height: 32px;

			&::before {
				width: 16px;
				height: 16px;
			}
		}

		&:hover,
		&:active {
			background-color: rgba($dark-800, 1);

			&::before {
				filter: invert(1);
			}
		}

		&--disabled {
			pointer-events: none;
		}
	}
}
